{% extends 'base.html' %}
{% load static %}
{% block body_content %}
    <style>
        body {
            padding-top: 4.5rem; /* header offset */
        }
    </style>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            {% include 'accounts/navbar_top.html' %}
        </div>
    </nav>
    <main class="container">
        {% block base_main %}{% endblock %}
    </main>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}