<div class="d-flex align-items-center justify-content-end">
    {# Begin Account Dropdown #}
    <div class="flex-shrink-0 dropdown">
        <span href="#" class="d-block dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            Account
        </span>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/accounts/logout">Sign out</a></li>
        </ul>
    </div>
    {# End Account Dropdown #}
</div>
