ENV=local
DEBUG=True
SECRET_KEY=wowlookatthissecuresecretkey!
ALLOWED_HOSTS=*
SQL_ENGINE=mysql.connector.django
SQL_DATABASE=jack_database
SQL_USER=user
SQL_PASSWORD=password
SQL_HOST=db
SQL_PORT=3306
STATIC_ROOT_PATH=static
STATIC_MEDIA_PATH=media