{% load static tailwind_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <title>{% block title %}My Account{% endblock %}</title>
</head>
<body class="bg-gray-50 leading-normal tracking-normal">
{% block body_content %}{% endblock %}
</body>
<script src="https://cdn.tailwindcss.com"></script>
</html>